<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSHub | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="home">
        <h1 class="title">Gemini Simulation Hub</h1>
        <p class="subtitle">A better way to experience AI.</p>
        <div class="btn-group">
            <a href="/chat/gemini"><button class="outline">Get Started</button></a>
        </div>
    </div>
</body>
</html>